.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  